<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div>
            <h3>你好啊</h3>
            <table>
                <thead>
                <th>留言时间</th>
                <th>留言来源</th>
                <th>留言信息</th>
                </thead>
                <tbody>
                {% for line in data %}
                    <tr>
                        <td>{{ line.time }}</td>
                    </tr>
                {% endfor %}
               </tbody>
            </table>
        </div>
    </body>
</html>